<!doctype html>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
<link href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap' rel="stylesheet">
<link href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap' rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap' rel="stylesheet">
<html lang="en">
 <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'images/radiali9.jpeg' %}">
    <script src="{% static 'index.js' %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="{% static 'registerBack.js' %}"></script>
     <script src="{% static 'loginBack.js' %}"></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Bootstrap demo</title>
</head>

  <body>
    {% load static %}
    <style>
      body {
        background-repeat: repeat-y;
        background-image: url("{% static 'images/lemn.jpeg' %}");
        background-position: top left;
        background-size: 100% auto; /* Makes the image stretch across the width */
      }
    </style>
   {% block content %}
   {% endblock %}
  </body>
  
</html>