{% extends 'baseHome.html' %}

{% block content %}
{% include 'navbar.html' %}
{% include 'login.html' %}


<div class="gallery-container">
    <div class="gallery">
        <img src="https://c.cdnmp.net/129517438/p/m/8/talpa-mai-compactor-wacker-bs60-2-bs60-2i-bs50-330mm-x-280mm~8405988.jpg" alt="many clothes and pictures">
        <img src="https://www.teamutilaje.ro/catalog/338-large_default/termostat-excavator-jcb.jpg" alt="someone preparing artisanal coffee">
        <img src="https://i.pepita.hu/images/product/17076426/generator-de-curent-tagred-ta2800gh-2800-w-230-v-stabilizator-de-tensiune_111507782_300x300.webp" alt="some tee">
        <img src="https://www.bing.com/th?id=OIP.syGg1w7bqzlf7lH4jTJpaAHaHa&w=174&h=185&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="an empty table in a restaurant">
        <img src="https://s13emagst.akamaized.net/products/57917/57916788/images/res_5a736e11cccd172f6b4c4e3294904a14.png" alt="a laptop with a notebook">
        <img src="https://micul-meserias.ro/image/cache/catalog/piese-de-schimb/Piese%20mai%20compactor/burduf-mai-compactor-170mm-x-240mm-portocaliu_8389562-transformed-330x330_0.webp" alt="a laptop and many books around it">
    </div>
    <div class="motto-titlu-container">
    <div class="titluRadiali">Radiali</div>  
    <div class="mottoRadiali">Piese de schimb care fac utilajele sa radieze de fericire</div>
    
</div>
    
  </div>
  

<br><br>
    <!-- <div class="loginContainer" id="log-reg">
        <i class='bx bx-x closeBtn' id="clos"></i>
        <div class="curvedShape"></div>
        <div class="curvedShape2"></div>
        <div class="form-box form-box-Login">
            <h2 class="h2Login animation" style="--D: 0; --S:21">Login</h2>
            <form id="loginForm" action="/login" method="POST">
                <div class="input-box-Login animation" style="--D: 1; --S:22">
                    <input id="username"class="inputLogin" type="text" required>
                    <label class="loginLabel"for="">Username</label>
                    <i class="bx bxs-user passUsericon"></i>
                </div>
                <div class="input-box-Login animation" style="--D: 2; --S:23">
                    <input id="password" class="inputLogin" type="password" required>
                    <label class="loginLabel"for="">Password</label>
                    <i class="bx bxs-lock-alt passUsericon"></i>
                    <p><a  href="#" class="forgot" style="--D: 3; --S:24">Forgot Password?</a></p>
                </div>
                
                <div class="input-box-Login animation" style="--D: 4; --S:25">
                    <button class="submitButton" type="submit">Login</button>
                </div>
                <div class="registerlinkChangeSide animation" style="--D: 5; --S:26">
                    <p>Don't have an account?<a href="#" class="SignUpLink">  Sign Up</a></p>
                </div>
            </form>
        </div>
         <div class="LoginPageInfoContent">
            <img class="logoFirstPage animation" style="--D: 0; --S:20" src="https://seniledecauciuc.ro/assets/images/radiali-logo.png">
            <p class="MottoFirstPage animation" style="--D: 1; --S:21">  Piese de schimb care fac utilajele sa radieze de fericire</p>
         </div>
         <div class="form-box form-box-Register">
            <h2 class="h2Login animation" style="--li: 17; --S:0">Register</h2>
            <form id="registerForm" action="/register" method="POST">
                <div class="input-box-Login animation" style="--li: 18; --S:1">
                    <input id="username"class="inputLogin" type="text" required>
                    <label class="loginLabel"for="">Username</label>
                    <i class="bx bxs-user passUsericon"></i>
                </div>
                <div class="input-box-Login animation" style="--li: 19; --S:2">
                    <input id="password" class="inputLogin" type="text" required>
                    <label class="loginLabel"for="">Password</label>
                    <i class="bx bxs-lock-alt passUsericon"></i>
                </div>
                <div class="input-box-Login animation" style="--li: 20; --S:3">
                    <input id="confirmpassword"class="inputLogin" type="password" required>
                    <label class="loginLabel"for="">Confirm Password</label>
                    <i class="bx bxs-check-shield passUsericon"></i>
                </div>
                <div class="input-box-Login animation" style="--li: 21; --S:4">
                    <button class="submitButton" type="submit">Register</button>
                </div>
                <div class="registerlinkChangeSide animation" style="--li: 22; --S:5">
                    <p>Don't have an account?<a href="#" class="SignInLink">  Sign In</a></p>
                </div>
            </form>
         </div>
         <div class="RegisterPageInfoContent">
            <img class="logoFirstPage animation" style="--li: 17; --S:0" src="https://seniledecauciuc.ro/assets/images/radiali-logo.png">
            <p class="MottoFirstPage animation" style="--li: 18; --S:1">  Piese de schimb care fac utilajele sa radieze de fericire</p>
         </div>
    </div>      -->
    <!-- <script src="static/index.js"></script> -->

<div class="containerHome">
    <h1 class="categoriileNoastre">Selectia noastra de categorii</h1>
    <!-- Grid cu denumiri generate din categorii -->
    <div class="grid" id="categoryGrid">
        {% for categorie in categorii %}
            <div class="grid-item">
                <img src="{{ categorie.poza }}" alt="{{ categorie.denumire }}" class="categorie-img">
                <h3 class="categorie-titlu">{{ categorie.denumire }}</h3>
                <a href="{{ categorie.linkPaginaProduse }}" class="categorie-link">Vezi Produse</a>
            </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}



{% endblock %}
