{% extends 'base.html' %}
{% include 'loginManagement/templates/login.html' %}

{% block content %}
    <!-- <h1 class="text-center my-4">Produse</h1> -->
    <header class="header">
        <div class="header_content">
        <img src="https://seniledecauciuc.ro/assets/images/radiali-logo.png" class="logo">
        <nav class="navbar">
            <a href="/Home/home" class="acasa">Home</a>
            <a href="" id="reg">Inregistreaza-te</a>
            <a href="/loginManagement/login" class="log">Intra in cont</a>
             <a href="#despre-noi">Despre</a>
            <a href="/productManagement/products">Produse</a>
            <a href="#">Dealeri</a>
            <a href="#">Contact</a>
        </nav>
        </div>
    </header>
   
     <img src="https://static.bizoo.eu/skins/assets/img/hd/t38.jpg" class="d-block w-100" alt="...">
    <br><br>
    <!-- <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Products</title>
        
    </head> -->
    <!-- <body> -->

        <div class="containerHome">
            <h1>Produsele noastre</h1>
            <div class="grid">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Generator">
                    <div class="overlay">Generator</div>
                </div>
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Mai Compactor">
                    <div class="overlay">Mai Compactor</div>
                </div>
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Placi Compactoare">
                    <div class="overlay">Placi Compactoare</div>
                </div>
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Taietor Beton">
                    <div class="overlay">Taietor Beton</div>
                </div>
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Motoare Honda">
                    <div class="overlay">Motoare Honda</div>
                </div>
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Motopompe de apa">
                    <div class="overlay">Motopompe de apa</div>
                </div>
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Ciocane Hidraulice">
                    <div class="overlay">Ciocane Hidraulice</div>
                </div>
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Piese Miniexcavator">
                    <div class="overlay">Piese Miniexcavator</div>
                </div>
                <div class="grid-item">
                    <img src="https://via.placeholder.com/300x200" alt="Cilindru Compactor">
                    <div class="overlay">Cilindru Compactor</div>
                </div>
            </div>
            <br><br>
        </div>

        <section id="despre-noi" style="background-color: #f0f0dc; padding: 50px 0;">
            <div class="container">
                <h2 class="text-center" style="margin-bottom: 30px;">Despre Noi</h2>
                <div class="about-text">
                    <p>
                        Radiali srl are o mare varietate de șenile de cauciuc pentru mini excavatoare și mini încărcătoare, șenile de cauciuc din material de înaltă calitate.
                    </p>
                    <p>
                        Senilele livrate beneficiaza de 1 an garanție, contra oricarui defect de fabricație. Senilele noastre din cauciuc, sunt fabricate cu cele mai moderne tehnologii și supuse celor mai stricte proceduri de control.
                    </p>
                    <p>
                        Oferă o durată de viață mai lungă, transmit mai puține vibrații și mai puțin zgomot la rulare. Au amestecul potrivit de cauciuc, pentru o uzura redusa in timp si durata lunga de exploatare. Senilele contin cablurile de oțel, fir continuu, fără îmbinări pe ambele părți ale șenilelor de cauciuc!
                    </p>
                    <p>
                        Diverse profile si modele, în funcție de aplicație. Mărimi disponibile de la 150 mm la 900 mm lățimi.
                    </p>
                    <p>
                        Pentru mai multe detalii despre instalarea și utilizarea senilelor de cauciuc, nu ezitati sa ne contactati. Vă vor oferi informațiile utile, în ceea ce privește modul de întindere a senilei si reguli de exploatare, pentru a reduce uzura prematura.
                    </p>
                </div>
            </div>
        </section>                
    
    <!-- </body> -->
   
{% endblock %}

