{% extends 'baseLogin.html' %}

{% block content %}
    <!-- <h1 class="text-center my-4">Produse</h1> -->
    <br><br>
    <div class="loginContainer" id="log-reg">
        <i class='bx bx-x closeBtn' id="clos"></i>
        <div class="curvedShape"></div>
        <div class="curvedShape2"></div>
        <div class="form-box form-box-Login">
            <h2 class="h2Login animation" style="--D: 0; --S:21">Login</h2>
            <form action="#">
                <div class="input-box-Login animation" style="--D: 1; --S:22">
                    <input id="username"class="inputLogin" type="text" required>
                    <label class="loginLabel"for="">Username</label>
                    <i class="bx bxs-user passUsericon"></i>
                </div>
                <div class="input-box-Login animation" style="--D: 2; --S:23">
                    <input id="password" class="inputLogin" type="text" required>
                    <label class="loginLabel"for="">Password</label>
                    <i class="bx bxs-lock-alt passUsericon"></i>
                    <p><a  href="#" class="forgot" style="--D: 3; --S:24">Forgot Password?</a></p>
                </div>
                
                <div class="input-box-Login animation" style="--D: 4; --S:25">
                    <button class="submitButton" type="submit">Login</button>
                </div>
                <div class="registerlinkChangeSide animation" style="--D: 5; --S:26">
                    <p>Don't have an account?<a href="#" class="SignUpLink">  Sign Up</a></p>
                </div>
            </form>
        </div>
         <div class="LoginPageInfoContent">
            <img class="logoFirstPage animation" style="--D: 0; --S:20" src="https://seniledecauciuc.ro/assets/images/radiali-logo.png">
            <p class="MottoFirstPage animation" style="--D: 1; --S:21">  Piese de schimb care fac utilajele sa radieze de fericire</p>
         </div>
         <div class="form-box form-box-Register">
            <h2 class="h2Login animation" style="--li: 17; --S:0">Register</h2>
            <form action="#">
                <div class="input-box-Login animation" style="--li: 18; --S:1">
                    <input id="username"class="inputLogin" type="text" required>
                    <label class="loginLabel"for="">Username</label>
                    <i class="bx bxs-user passUsericon"></i>
                </div>
                <div class="input-box-Login animation" style="--li: 19; --S:2">
                    <input id="password" class="inputLogin" type="text" required>
                    <label class="loginLabel"for="">Password</label>
                    <i class="bx bxs-lock-alt passUsericon"></i>
                </div>
                <div class="input-box-Login animation" style="--li: 20; --S:3">
                    <input id="confirmpassword"class="inputLogin" type="text" required>
                    <label class="loginLabel"for="">Confirm Password</label>
                    <i class="bx bxs-check-shield passUsericon"></i>
                </div>
                <div class="input-box-Login animation" style="--li: 21; --S:4">
                    <button class="submitButton" type="submit">Register</button>
                </div>
                <div class="registerlinkChangeSide animation" style="--li: 22; --S:5">
                    <p>Don't have an account?<a href="#" class="SignInLink">  Sign In</a></p>
                </div>
            </form>
         </div>
         <div class="RegisterPageInfoContent">
            <img class="logoFirstPage animation" style="--li: 17; --S:0" src="https://seniledecauciuc.ro/assets/images/radiali-logo.png">
            <p class="MottoFirstPage animation" style="--li: 18; --S:1">  Piese de schimb care fac utilajele sa radieze de fericire</p>
         </div>
    </div>     
    <script src="index.js"></script>
{% endblock %}
