{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center my-4">Produse</h1>
    
    <div class="container">
        <!-- Row care ajustează automat numărul de coloane în funcție de lățimea ecranului row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4-->
        <div class="row ">
            {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <div class="mt-auto">
                                <a href="#" class="btn_whatsapp"> Intreaba pretul</a>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}