{% extends 'base.html' %}
<!-- {% include 'loginManagement/templates/login.html' %} -->


{% block content %}
    <!-- <header class="header">
        <div class="header_content">
            <img src="https://seniledecauciuc.ro/assets/images/radiali-logo.png" class="logo">
            <nav class="navbar">
                <a href="/Home/home">Home</a>
                <a href="" id="reg">Inregistreaza-te</a>
                <a href="/loginManagement/login">Intra in cont</a>
                <a href="#despre-noi">Despre</a>
                <a href="/productManagement/products">Produse</a>
                <a href="#">Dealeri</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header> -->
    {% include 'navbar.html' %} 
    {% include 'login.html' %}
   

    <br><br>

    <!-- Category Name Header -->
    <h1 class="text-center my-4">Produse </h1>
    <br>
    
    
    <div class="container d-flex justify-content-center">
        <form class="d-flex w-50" method="GET" action="{% url 'search_feature' %}">
            <input
                class="form-control me-2"
                type="search"
                name="q"
                placeholder="Search products..."
                value="{{ search_query|default:'' }}"
                aria-label="Search"
            >
            <button class="btn_whatsapp btn-primary" type="submit">Search</button>
        </form>
    </div>
    
    
    
    

    <br>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% if products %}
                {% for product in products %}
                    <div class="col">
                        <div class="card">
                            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body d-flex flex-column text-center">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <form action="{% url 'shopping:add_to_cart' product.id %}" method="post" class="mt-3">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="number" name="quantity" class="form-control" placeholder="Quantity" min="1" value="1" required>
                                    <button type="submit" class="add-to-cart-btn" >Add to Cart</button>
                                </div>
                            </form>
                                


                            
                            
                                <div class="mt-auto">
                                    <a href="http://Wa.me/+40767594267" class="btn_whatsapp">Prețul</a>
                                    <!-- Butonul pentru vizualizarea imaginii -->
                                    <button class="btn_whatsapp btn-primary" data-bs-toggle="modal" data-bs-target="#imageModal{{ product.id }}">Detalii</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modalul care va afișa imaginea produsului pe tot ecranul -->
                    <div class="modal fade" id="imageModal{{ product.id }}" tabindex="-1" aria-labelledby="imageModalLabel{{ product.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- Butonul X pentru închidere -->
                                    <button type="button" class="bx bx-x closeBtn" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ product.get_tehnic_file_path }}" class="img-fluid" alt="{{ product.name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Nu sunt produse disponibile.</p>
            {% endif %}
        </div>
    </div>
    
{% endblock %}

