{% extends 'base.html' %}
{% include 'loginManagement/templates/login.html' %}

{% block content %}
    <header class="header">
        <div class="header_content">
            <img src="https://seniledecauciuc.ro/assets/images/radiali-logo.png" class="logo">
            <nav class="navbar">
                <a href="/Home/home">Home</a>
                <a href="" id="reg">Inregistreaza-te</a>
                <a href="/loginManagement/login">Intra in cont</a>
                <a href="#despre-noi">Despre</a>
                <a href="/productManagement/products">Produse</a>
                <a href="#">Dealeri</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>

    <br></br><br></br>
    
    <!-- Category Name Header -->
    <h1 class="text-center my-4">{{category}} - Produse</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% if products %}
            {% for product in products %}
                <div class="col">
                    <div class="card">
                        <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <div class="mt-auto">
                                <a href="#" class="btn_whatsapp">Intreaba pretul</a>
                            </div>
                        </div>
                    </div>
                </div> 
            {% endfor %}
        {% else %}
            <p class="text-center">Nu sunt produse în această categorie.</p>
        {% endif %}
    </div>
</div>
{%endblock%}
