/* Stilizare pentru carduri /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.card {
  width: 325px;
  height: 500px;
  border: #110450;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centrează conținutul pe verticală */
  align-items: center;      /* Centrează conținutul pe orizontală */
  padding: 20px;            /* Adaugă spațiu între conținut și marginea cardului */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  
}

/* Hover pe card */
.card:hover {
  transform: translateY(-10px);
  /* box-shadow: 0 10px 20px #110450; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
}

/* Stilizare pentru imagini */
.card-img-top {
  width: 180px;
  height: 220px;
  border-bottom: 30px solid #ffffff;
  background-origin: padding-box;
  transition: transform 0.3s;
}

.card:hover .card-img-top {
  transform: scale(1.05);
  
}

/* Stilizare pentru titlurile produselor */
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}


/* Stilizare pentru buton */
.btn_whatsapp {
  display: inline-block;
  padding: 10px 20px;
  background-color: #110450;
  color: rgb(255, 238, 0);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.btn_whatsapp:hover {
  background-color: #110450;
  transform: scale(1.1);
}

.col {
  margin-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "   ";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1200px) {
  .col {
    width: 50%;
    display:flex;
    margin-bottom: 20px;
  }
}

@import url("");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.header_content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header{
  background-color: #110450;
  height: 80px;
}


/* .navbar a {
  position:relative;
  font-size: 18px;
  color: rgb(255, 238, 0);
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  background-color: #110450;
  font-family: "Arial", sans-serif;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: .3s;
}

.navbar a:hover::before{
  width: 100%;

} */

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Elemente aliniate la stânga */
  gap: 20px; /* Spațiere uniformă între elemente */
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: rgb(255, 238, 0);
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  background-color: #110450;
  font-family: "Arial", sans-serif;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.logo {
  position: relative; /* sau absolute, dacă vrei să o poziționezi față de container */
  top: -5px; /* mută imaginea mai sus */
  left: -20px; /* mută imaginea mai la stânga */
  box-shadow: 10px 5px 5px rgb(255, 238, 0);
}


/*Home////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
  font-family: Arial, sans-serif;
  
}

.categorie-link{
  color:#ffcc00;
}


a.categorie-link{
  color:#ffcc00;
}




.containerHome {
  width: 90%;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}
/* Stilizarea grid-ului */
/* Stilizarea grid-ului */


/* Stil pentru fiecare grid-item (produs) */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 coloane pe ecrane mari */
  gap: 30px; /* Spațiu între elemente */
  margin-top: 30px;
}

/* Stil pentru fiecare grid-item (produs) */
.grid-item {
  position: relative;
  border: 4px solid #000000; /* Linie de border gri */
  padding: 30px; /* Spațiu interior pentru a face elementul mai mic */
  text-align: center;
  border-radius: 8px; /* Margini rotunjite */
  background-color: rgba(112, 109, 109, 0.4); /* Fundal alb cu transparență */
  
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Tranziție pentru efectul de hover */
  width: 100%; /* Lățimea elementului 100% din containerul său */
  height: 350px; /* Setăm înălțimea pentru a crea un aspect dreptunghiular */
  max-width: 450px; /* Lățimea maximă pentru a nu depăși 300px */
  margin: 0 auto; /* Aliniem elementul pe orizontală */
  display: flex; /* Folosim flex pentru a centra conținutul */
  flex-direction: column; /* Aliniem conținutul vertical */
  justify-content: center; /* Centram conținutul pe verticală */

  /* Umbră doar în spate */
  box-shadow: 0px 10px 20px rgba(190, 101, 63, 0.5); /* Umbră exterioară spre partea de jos */
}

/* Efectul de hover pentru un efect de ridicare */
.grid-item:hover {
  transform: translateY(-5px); /* Ridică elementul la hover */
  box-shadow: 0 6px 15px rgba(190, 101, 63, 0.5); /* Umbră mai puternică la hover */
}


/* Media query pentru ecrane mici, 2 coloane */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 coloane pe ecrane mai mici */
  }

  .grid-item {
    width: 100%; /* Mărim elementul pe ecrane mai mici */
    max-width: 250px; /* Lățimea maximă mai mică */
    height: 180px; /* Micșorăm înălțimea pentru ecrane mai mici */
  }
}

/* Media query pentru ecrane foarte mici, 1 coloană */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* 1 coloană pe ecrane foarte mici */
  }

  .grid-item {
    width: 100%; /* Elementele vor ocupa 100% din lățimea containerului */
    max-width: 220px; /* Lățimea maximă mai mică */
    height: 160px; /* Înălțimea se micșorează și mai mult pe ecrane mici */
  }
}


.categorie-titlu {
  color: white; /* Schimbă culoarea textului în alb */
  margin: 10px 0;
  font-size: 1.4rem;
  text-align: center;
}


.grid-item-name {
  position: absolute; /* Poziționare raportată la părintele .grid-item */
  bottom: 14px; /* Poziționare față de marginea de jos */
  left: 0; /* Banda începe de la marginea stângă */
  width: 70%; /* Banda ocupă 70% din lățimea părintelui */
  font-size: 24px; /* Text puțin mai mare pentru lizibilitate */
  color: #ffffff;
  font-family: "Conv_rawline-500";
  padding: 8px 10px; /* Spațiu interior pentru o bandă mai groasă */
  text-align: center; /* Text centrat în banda neagră */
  background: rgba(0, 0, 0, 0.7); /* Fundal transparent cu tentă de negru */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Chenar transparent */
  
  /* Umbre interioare negre */
  box-shadow: 
    inset 0px 2px 4px rgba(0, 0, 0, 0.2), /* Umbra interioară verticală */
    inset 0px -2px 4px rgba(0, 0, 0, 0.8); /* Umbra interioară de jos */
  
  z-index: 2;
  opacity: 0.9; /* Transparență implicită */
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease; /* Tranziții line */
}



.grid-item:hover .grid-item-name {
  transform: translateX(20%); /* Se ridică ușor pe hover */
  color: #ffcc00; /* Schimbă culoarea textului */
  opacity: 1; /* Devine complet opac */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4); /* Crește intensitatea umbrei */
}


.grid-item img {
  
  width: 80%; /* Imaginea ocupă 90% din dimensiunea containerului */
  height: 80%; /* Imaginea ocupă 90% din dimensiunea containerului */
  object-fit: contain; /* Asigură că întreaga imagine este vizibilă */
  object-position: center; /* Centrează imaginea în container */
  display: block; /* Elimină problemele de spacing */
  margin: auto; /* Centrează imaginea vertical și orizontal */
  margin-top: 10px;
  transform: scale(1); /* Default scale */
  transition: transform 0.6s ease; /* Smooth scaling transition */
}

.grid-item:hover img {
  transform: scale(1.20); /* Scale image slightly larger on hover */
}

.product-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
}
.select-product {
  width: 20px;
  height: 20px;
  cursor: pointer;
}



.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.web-catalog {
  display: block;
  margin-top: 40px;
  text-decoration: none;
  color: #be2cab;
  font-size: 1.2em;
}

.homePicture {
  width: 100%; /* Ocupă întreaga lățime a paginii */
  height: 100vh; /* Ocupă întreaga înălțime a paginii (viewport height) */
  object-fit: cover; /* Asigură că imaginea va acoperi întreaga zonă fără a se deforma */
}


.textOverlay {
  position: absolute;
  top: 50%; /* Centrează vertical */
  left: 50%; /* Centrează orizontal */
  transform: translate(-50%, -50%); /* Corectează poziția pentru centru */
  text-align: center; /* Aliniază textul */
  z-index: 2; /* Deasupra imaginii */
}

/* Titlul */
.title {
  font-size: 100px; /* Dimensiunea textului */
  font-weight: bold;
  color: rgb(231, 209, 11);
  -webkit-text-stroke: 2px white; /* Contur alb */
  text-transform: uppercase;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 1.0);
  margin: 0;
}

/* Motto-ul */
.homeContainer .mottoHome {
  font-size: 38px;
  font-family:'Dancing Script';
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 10.0); /* Umbră pentru contrast */
  margin-top: 20px; /* Spațiu sub titlu */
  
}

.categoriileNoastre{
    color:#ffffff;
}


/*Pagian pt login/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.loginContainer {
  display: none;
  z-index: 2;
  width: 750px;
  height: 450px;
  border-radius: 10px;
  position: fixed; /* Fixează poziția relativ la fereastră */
  top: 50%; /* Poziționează la mijloc pe verticală */
  left: 50%; /* Poziționează la mijloc pe orizontală */
  transform: translate(-50%, -50%); /* Mută punctul de referință în centru */
  overflow: hidden;
  box-sizing: border-box;
  background-color: #110450;
  font-family: 'Poppins', sans-serif;
  
}

.loginContainer.act {
  display: block; /* Devine vizibil */
  opacity: 1; /* Tranparență completă */
}

.loginContainer.rem{
  display: none; /* Inițial ascuns */
  opacity: 0; /* Tranziție de opacitate */
}

loginBody{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgb(255, 238, 0);
}


.form-box-Login {
  position: absolute;
  top: 0;
  left: 0; 
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 60px;
}

.form-box-Login .animation{
  transform: translateX(0%);
  transition: .7s;
  opacity: 1;
  transition-delay: calc(.1s * var(--S));  
}  



.loginContainer.active .form-box-Login .animation{
  transform: translateX(-125%);
  opacity: 0;
  transition-delay: calc(.1s * var(--D));
}


.form-box-Register {
  /* display:none!important;  */
  position: absolute;
  top: 0;
  right: 0; /* Register pe dreapta */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 60px;
}

.form-box-Register .animation{
  transform: translateX(125%);
  transition: .7s ease;
  opacity: 0;
  transition-delay: calc(.1s * var(--S));
  filter: blur(10px);
  
}

.loginContainer.active .form-box-Register .animation{
  transform: translateX(0%);
  opacity: 1;
  transition-delay: calc(.1s * var(--li));
  filter: blur(0);
}



.h2Login{
  font-size: 32px;
  text-align: center;
  left:10px;
  color: #ffec00;
  padding: 0 40px;
}

.input-box-Login{
  position: relative;
  width: 100%;
  height: 50px;
  margin-top:25px;
}

.inputLogin{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline:none;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  padding-left:10px;
  padding-right: 23px;
}

.loginLabel {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.inputLogin:focus ~ .loginLabel,
.inputLogin:valid ~ .loginLabel {
  top: -10px;
  font-size: 14px;
  color: #ffec00;
}

.passUsericon{
  position: absolute;
  top:50%;
  right:0;
  font-size: 18px;
  transform: translateY(-50%);
  color: #ffffff;
}

.inputLogin:focus ~ .passUsericon,
.inputLogin:valid ~ .passUsericon {
  color: #ffec00;
}

.form-box-Login .submitButton {
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 45px;
  background: linear-gradient(#fff, #ffec00, #ffec00, #fff);
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #110450;
  overflow: hidden; 
  color: #110450;
}

.form-box-Login .submitButton::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 100%;
  background: linear-gradient(#fff, #ffec00, #ffec00, #fff, #110450);
  top: -100%; /* Ascuns inițial deasupra butonului */
  left: 0;
  z-index: -1; /* Asigură-te că gradientul este în spate */
  transition: top 0.5s; /* Adaugă o tranziție lină pentru efect */
}

.form-box-Login .submitButton:hover {
  top: 0; /* Gradientul coboară și devine vizibil */
  transform: scale(1);
}

.form-box-Register .submitButton {
  position: relative;
  width: 100%;
  height: 45px;
  background: linear-gradient(#fff, #ffec00, #ffec00, #fff);
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #110450;
  overflow: hidden; 
  color: #110450;
}

.form-box-Register .submitButton::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 100%;
  background: linear-gradient(#fff, #ffec00, #ffec00, #fff, #110450);
  top: -100%; /* Ascuns inițial deasupra butonului */
  left: 0;
  z-index: -1; /* Asigură-te că gradientul este în spate */
  transition: top 0.5s; /* Adaugă o tranziție lină pentru efect */
}

.form-box-Register .submitButton:hover {
  top: 0; /* Gradientul coboară și devine vizibil */
  transform: scale(1);
}

.registerlinkChangeSide{
  font-size: 15px;
  text-align:center;
  margin: 20px 0 10px;
}

.registerlinkChangeSide p{
  color: #ffec00;
}

.registerlinkChangeSide a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font: normal;
}

.registerlinkChangeSide a:hover{
  text-decoration: underline;
}

.forgot{
  font-size: 13px;
  padding-left: 54%;
  color:rgb(255, 255, 255);
}

.forgot:hover{
  color:#ffec00
}

.loginContainer .closeBtn {
  position: absolute; 
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
  z-index: 3; /* Mai mare decât alți descendenți ai .loginContainer */
}


.loginContainer .closeBtn:hover {
  color: rgb(255,0,0);
}

.loginContainer.act{
  top: 50%;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);

}






.SignUpLink{
  font-size: 15px;
  text-align:center;
  margin: 20px 0 10px;
}

.SignUpLink a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font: normal;
}

.SignUpLink a:hover{
  text-decoration: underline;
}


/* .SignUpLink{
  text-decoration: none;
  color:#fff;
  font-size: 16px;
}

.SignUpLink:hover{
  text-decoration: underline;

} */

.LoginPageInfoContent{
  position: absolute;
  top: 0;
  height: 100%;
  width:50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  right:0;
  text-align: right;
  padding: 0 40px 180px 100px;
  
  
}
.LoginPageInfoContent .animation{
  transform: translateX(0);
  transition: .7s ease;
  transition-delay: calc(.1s*var(--S));
  opacity: 1;
  filter: blur(0);
}

.loginContainer.active .LoginPageInfoContent .animation{
  /* transform: translateX(125%); */
  transform: translateY(20%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--D));
}


.RegisterPageInfoContent{  
  position: absolute;
  top: 0;
  height: 100%;
  width:50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left:-60px;
  text-align: right;
  padding: 0 40px 180px 100px;
  pointer-events: none;
  
}

.RegisterPageInfoContent .animation{
  transform: translateX(-120%);
  transition: .7s ease;
  transition-delay: calc(.1s * var(--S)); 
  opacity: 0;
  filter: blur(10px);
  /* transition-delay: calc(.1s*var(--D)); */
}

.loginContainer.active .RegisterPageInfoContent .animation{
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.1s*var(--li));
}

.LoginPageInfoContent .logoFirstPage{
  transform: scale(1.1) !important;
}

.LoginPageInfoContent .MottoFirstPage{
  transform: translateY(40px);
  font-size: 20px;
  font-family:'Dancing Script';
  color: #ffffff
  
}

.RegisterPageInfoContent .logoFirstPage{
  transform: scale(1.1) !important;
  
  
}

.RegisterPageInfoContent .MottoFirstPage{
  transform: translateY(40px);
  font-size: 20px;
  margin-top: 35px;
  font-family:'Dancing Script';
  color: #ffffff;
  text-align: left;
  
}


.curvedShape{
  position: absolute;
  right:0;
  top: -5px;
  height: 600px;
  width:850px;
  background: linear-gradient(45deg,#110450,#ffffff);
 
  transform: rotate(8deg) skewY(46deg);

  transform-origin: bottom right;
  transition:1.5s ease;
  transition-delay: 1.6s;
  
}

.loginContainer.active .curvedShape{
   transform: rotate(0deg) skewY(0deg);
   transition-delay: .5s;
}

.curvedShape2{
  position: absolute;
  left: 250px;
  top: 100%;
  height: 700px;
  width:850px;
  background: #110450;;
  border-top: 3px solid #9592d3;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: .5s;
}

.loginContainer.active .curvedShape2{
  transform: rotate(-13deg) skewY(-42deg);
  transition-delay: 1.2s;
} 

.HomeImage {
  position: relative; /* Sau absolute, dacă este poziționată în raport cu un părinte */
  left: -600px; /* Mută imaginea cu 200px mai la stânga */
  transform: translateY(-410px) scale(0.5);
  
}
/* 
/* .cart-icon {
  position: relative;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.cart-icon .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
} 

.logout {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
} */



.cart-icon {
  position: relative;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-left: 20px; /* Spațiere între coș și link-uri */
}

.cart-icon .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.logout {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
  text-decoration: none;
}

.logout:hover {
  text-decoration: underline;
}
/*slider///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
  .gallery {
    --s: 150px; /* the image size */
    margin-left: 10%;
    display: grid;
    transform-style: preserve-3d;
    animation: r 15s linear infinite;
    position: relative;
  }
  @keyframes r {
    0% {transform: perspective(450px) rotateX(-100deg) rotate(0deg)}
    to {transform: perspective(450px) rotateX(-100deg) rotate(-360deg)}
  }
  .gallery > img {
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transform: rotate(var(--_a)) translateY(120%) rotateX(90deg);
  }
  .gallery > img:nth-child(1) {--_a: 0deg}
  .gallery > img:nth-child(2) {--_a: 60deg}
  .gallery > img:nth-child(3) {--_a: 120deg}
  .gallery > img:nth-child(4) {--_a: 180deg}
  .gallery > img:nth-child(5) {--_a: 240deg}
  .gallery > img:nth-child(6) {--_a: 300deg}
  
  .gallery-container {
    margin-left: -3%; /* Poziționează containerul mai aproape de marginea stângă */
    margin-top: -7%; /* Poziționează containerul mai jos */
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr; /* Creează două coloane: una pentru animație, alta pentru titlu, motto și contact */
    align-items: center; /* Asigură alinierea pe verticală */
    gap: 20px; /* Adaugă spațiu între animație și coloana cu text */
    padding-left: 20%; /* Spațiu suplimentar pe stânga pentru animație */
    overflow: visible; /* Permite vizibilitatea completă a animației */
  }
  
  .title-motto-container {
    display: flex;
    flex-direction: column; /* Aranjează titlul, motto-ul și contactul pe verticală */
    align-items: center; /* Centrează conținutul pe orizontală */
    gap: 15px; /* Spațiu între elemente */
  }
  
  .titluRadiali {
    font-size: 120px;
    color: #ffffff;
    text-align: center; /* Asigură centrare a textului */
    margin: 0; /* Elimină alte margini */
   
  }
  
  .mottoRadiali {
    font-size: 35px;
    font-family: 'Dancing Script';
    color: #ffffff;
    text-align: center; /* Centrează textul */
    margin: 0; /* Elimină marginea implicită */
    margin-bottom: 3%;
    max-width: 80%; /* Limitează lățimea pentru a împărți textul pe rânduri */
    line-height: 1.2; /* Spațiu între rânduri */
    padding-left: 15%; /* Mută textul mai la dreapta */
  }
  
  
  /* .contact {
    font-size: 30px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center; 
    justify-self: end; 
    align-self: end;
    margin-right: 10%;
    margin-bottom: 5%;
  } */
  
/*popup produse//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /* Stiluri pentru a centra modalul pe ecran */
  .modal-dialog {
    position: fixed;
    top: 1%; /* Poziționează puțin mai sus față de centrul vertical */
    left: 30%; /* Poziționează pe mijlocul orizontal */
    transform: translateX(-50%); /* Asigură poziționarea corectă pe mijloc */
    width: 90%; /* Reduce lățimea la 50% din ecran */
    max-width: 600px; /* Lățimea maximă a modalului */
  }
  


  .modal-dialog .modal-content {
    max-height: 95vh; /* Limitează înălțimea la 80% din înălțimea ecranului */
    overflow-y: auto; /* Permite scroll vertical dacă conținutul este mai mare */
  }
  


.card-body .btn {
  display: inline-block;  /* Butonul va fi pe aceeași linie */
  margin-right: 30px;      /* Adaugă 2px de spațiu între butoane */
}
