<header class="header">
    <div class="header_content">
        <img src="https://seniledecauciuc.ro/assets/images/radiali-logo.png" class="logo">
        <nav class="navbar">
            <a href="/Home/home" class="acasa">Acasa</a>
            <a href="#despre-noi">Despre</a>
            <a href="/productManagement/products">Produse</a>
            <a href="#contact">Contact</a>
        
            <!-- Link-uri autentificare -->
            <a href="#" id="reg" class="reg">Intra in cont</a>
            <a href="#" class="logout" style="display: none;">Logout</a>
        
            <!-- Coșul de cumpărături -->
            {% if user.is_authenticated %}
            <div class="cart-icon">
                <span class="cart-count">{{ cart_count }}</span>
                <a href="/shopping/cart/">Cosul meu</a>
            </div>
            {% endif %}
        </nav>
    </div>
</header>
