{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}

<h1 class="text-center my-4">Coș de cumpărături</h1>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produs</th>
                    <th>Cantitate</th>
                    <th>Acțiuni</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <a href="{% url 'shopping:remove_from_cart' item.id %}">Remove</a>
                            <a href="{% url 'shopping:decrease_quantity' item.id %}" class="btn btn-sm btn-warning">-</a>
                            <a href="{% url 'shopping:increase_quantity' item.id %}" class="btn btn-sm btn-success">+</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center mt-4">
            <a href="{% url 'shopping:process_order' %}" class="btn btn-primary btn-lg">Procesare Comandă</a>
        </div>
        
    {% else %}
        <p class="text-center">Coșul este gol.</p>
    {% endif %}
</div>
{% endblock %}
